<body>
	<h1>Challenges of the week: </h1>
	<ol>
		<li><h3 <%if(@ch1[1])%> style="opacity: 0.5" <%end%> > <%= @ch1[0] %> </h3></li>
		<li><h3 <%if(@ch2[1])%> style="opacity: 0.5" <%end%> > <%= @ch2[0] %> </h3></li>
		<li><h3 <%if(@ch3[1])%> style="opacity: 0.5" <%end%> > <%= @ch3[0] %> </h3></li>
	</ol>
</body>

<style>
	body{background-color: #8fb4ff}
   #newLoc {width:600px}
</style>