<body>
	<h1>Challenges of the week: </h1>
	<ol>
		<li><h3 style="opacity: 0.5">Use car only twice</h3></li>
		<li><h3>Don't spend more than 30 pounds on transportation</h3></li>
		<li><h3>Use metro at least once daily(if possible)</h3></li>
	</ol>
</body>

<style>
	body{background-color: #8fb4ff}
   #newLoc {width:600px}
</style>