<body>
	<div class="center jumbotron" style="margin-top: 10px;">
		<h1>TrafficLess</h1>
		<h2>
			Enjoy the game :)
		</h2>

		<% if logged_in? %>
            <%= link_to "Challenge of the week", '#', class: "btn btn-lg btn-success" %>
        <% else %>
			<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        <% end %>

	</div>
	<!--%= link_to image_tag("Logo.png", alt: "logo"),
            'http://rubyonrails.org/' %-->
</body>
<style>
body{background-color: #8fb4ff}
</style>