	<div class="center jumbotron" style="margin-top: 10px;">
		<h1>TrafficLess</h1>
		<h2>
			Enjoy the game :)
		</h2>
		<% if logged_in? %>
            <%= link_to "Challenges of the week", challenges_path(:user_id => current_user.id), class: "btn btn-lg btn-success" %>
        <% else %>
			<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        <% end %>

	</div>
<style>
body{background-color: #8fb4ff}
</style>