	<style type="text/css" media="all">
	body{
	background: #C3C3C3;
	background-size: cover;
	font-family: 'Roboto',sans-serif;
	font-size: 13px;
	background-position: 50% 50%;
	}
	
	.form_table{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	border: 0px solid #CCCCCC;
	background: #FFFFFF;
	background-size: cover;
	color: #333333;
	overflow: hidden;
	box-shadow: none;
	background-position: 50% 50%;
	}
	
	.form_table a{
	color: #0D47A1;
	}
	
	.outside a{
	color: #0D47A1;
	}
	
	.form_table a:visited{
	color: #0D47A1;
	}
	
	.outside a:visited{
	color: #0D47A1;
	}
	
	.segment_header{
	width: auto;
	margin: 1px;
	color: #FFFFFF;
	background: #2196F3;
	background-size: cover;
	background-repeat: repeat;
	background-position: 50% 50%;
	border-radius: 4px;
	}
	
	.segment_header h1{
	border-radius: 4px;
	padding: 20px 10px;
	font-family: 'Roboto',sans-serif;
	}
	
	.q{
	padding: 2px;
	margin-bottom: 20px;
	margin-left: 20px;
	float: left;
	display: block;
	}
	
	.q .question{
	font-weight: bold;
	}
	
	.q .left_question_first{
	width: 15em;
	}
	
	.required .icon{
	background-image: none;
	background-position: left;
	background-repeat: no-repeat;
	font-size: 13px;
	padding-left: 14px;
	}
	
	.q .text_field{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 20px;
	border-width: 1px;
	color: #333333;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	margin: 1px 0;
	padding: 1px;
	}
	
	.q .file_upload{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 20px;
	border-width: 1px;
	color: #333333;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	margin-top: 1px;
	padding: 1px;
	}
	
	.q .file_upload_button{
	margin-top: 2px;
	}
	
	.q .inline_grid td{
	padding: 5px;
	vertical-align: baseline;
	}
	
	.q .drop_down{
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 20px;
	border-width: 1px;
	color: #333333;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	margin: 1px 0;
	padding: 0px;
	}
	
	.q .matrix th{
	color: #FFFFFF;
	background: #26A65B;
	padding: 5px;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	}
	
	.q .matrix td{
	padding: 5px;
	text-align: center;
	height: 26px;
	border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
	}
	
	.q .matrix td.question{
	border-right: 1px solid #999999;
	font-weight: normal;
	}
	
	.q .matrix .multi_scale_sub th{
	font-weight: normal;
	border-top: 1px solid #999999 !important;
	background: #CC00CC;
	}
	
	.q .matrix .multi_scale_break{
	border-right: 1px solid #999999;
	}
	
	.q .matrix_row_dark td{
	color: #333333;
	background: #FAFAFA;
	}
	
	.q .matrix_row_dark td.question{
	color: #333333;
	background: #FAFAFA;
	}
	
	.q .matrix_row_light td{
	color: #333333;
	background: #FFFFFF;
	}
	
	.q .matrix_row_light td.question{
	color: #333333;
	background: #FFFFFF;
	}
	
	.q .rating_ranking td{
	padding: 5px;
	}
	
	.q .scroller{
	border: 1px solid #CCCCCC;
	}
	
	.highlight{
	background: #FFF9C4 !important;
	}
	
	tr.highlight td{
	background: #FFF9C4 !important;
	}
	
	.outside{
	color: #333333;
	}
	
	.outside_container{
	width: 760px;
	padding: 1em 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #333333;
	}
	
	.outside_container .submit_button{
	color: #FFFFFF !important;
	background: #26A65B;
	background-size: cover;
	border-style: none;
	border-width: 0px;
	border-color: #FFFFFF;
	border-radius: 2px;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size: 14px;
	font-weight: bold;
	min-width: 0;
	padding: 4px 20px;
	text-transform: uppercase;
	box-shadow: 0 1px 6px rgba(0,0,0,0.30);
	background-position: 50% 50%;
	}
	
	.outside_container .submit_button:hover{
	background: #F57C00;
	border-color: #BBBBBB;
	background-size: cover;
	background-position: 50% 50%;
	}
	
	.progressBarWrapper{
	border-radius: 4px;
	background: #FFFFFF;
	background-size: cover;
	border-color: #CCCCCC;
	}
	
	.progressBarBack{
	color: #FFFFFF;
	background-color: #FF9800;
	}
	
	.progressBarFront{
	color: #333333;
	}
	
	.ui-widget{
	font-family: 'Roboto',sans-serif;
	}
	
	.invalid{
	background: #FFEEEE;
	}
	
	.invalid .invalid_message{
	color: #FF0000;
	background: #FFEEEE;
	border: 1px solid #FF0000;
	border-radius: 2px;
	}
	
	.form_table.invalid{
	border: 2px solid #FF0000;
	}
	
	.invalid .matrix .invalid_row{
	background: #FFEEEE;
	}

	</style>
	<!--form method="post" id="FSForm" action="https://fs10.formsite.com/res/submit" enctype="application/x-www-form-urlencoded" onsubmit="return Vromansys.Form.processSubmit(this);"-->
	<%= form_tag :action => 'pretest_answers', :id => @user do %>
	<div style="display:none;">
	<input type="hidden" name="locid" value="UFzh3M/form1" />
	<input type="hidden" name="EParam" value="AT1kKIiyxDwaNMmOHMD+uKeLTfEDMMCuUSAE7pKjsPeW2kzzAr98o4dvxvEqBGXQ" />
	<input type="hidden" name="ElapsedTime" id="ElapsedTime" value="0" />
	<input type="hidden" name="Referrer" id="Referrer" value="" />
	<input type="text" name="subject_line" id="subject_line" autocomplete="off" /><label for="subject_line">subject_line</label>
	</div>
	
	<!-- BEGIN_ITEMS -->

	<div id="q7" class="form_table">
	  <a class="item_anchor" name="ItemAnchor0"></a>
	  <div class="segment_header" style="background:#26A65B;width:100%;text-align:Center;">
          <nav data-magellan>
            <ul class="horizontal menu expanded">
              <li class="logo">
                <p id="logo" style="padding-left: 20px; color: white;"> greenie</p>
              </li>
              <li class="tips">
                <h3>
                  Survey
                </h3>                
              </li>
            </ul>
            
          </nav>
      </div>
    </div>

	<div class="form_table">
	
	<div class="clear"></div>
	
<!-- 	<div id="q7" class="q full_width" style="width: 100%; margin: 0 auto;">
	<a class="item_anchor" name="ItemAnchor0"></a>
	<div class="segment_header" style="background:#26A65B;width:auto;text-align:Center;">
      <h1 id="logo" class="logo" style="float: left; display: flex; align-items: center;">greenie</h1>
	  <h1 style="font-size:18px;padding:20px 1em; display: inline-block;">Survey</h1>
	</div>
	</div> -->
	
	<div class="clear"></div>
	
	<div id="q1" class="q full_width" style="width: 100%; margin: 0 auto; padding-left: 20px;">
	<a class="item_anchor" name="ItemAnchor1"></a>
	<div class="full_width_space">Thank you for signing up. Kindly answer the following questions before you start using greenie.</div>
	</div>
	
	<div class="clear"></div>
	
	<div id="q9" class="q required">
	<a class="item_anchor" name="ItemAnchor2"></a>
	<span class="question top_question">You usually use which of the following means of transportation:&nbsp;<b class="icon_required" style="color:#FF0000">*</b></span>
	<table class="inline_grid">
	<tr>
	<td><input type="radio" name="q1" class="multiple_choice" id="RESULT_RadioButton-2_0" value="Car" required/><label for="RESULT_RadioButton-2_0" >Car</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q1" class="multiple_choice" id="RESULT_RadioButton-2_1" value="Bus" required/><label for="RESULT_RadioButton-2_1" >Bus</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q1" class="multiple_choice" id="RESULT_RadioButton-2_2" value="Carpooling" required/><label for="RESULT_RadioButton-2_2" >Carpooling</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q1" class="multiple_choice" id="RESULT_RadioButton-2_3" value="Taxi" required/><label for="RESULT_RadioButton-2_3" >Taxi</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q1" class="multiple_choice" id="RESULT_RadioButton-2_4" value="Bicycle" required/><label for="RESULT_RadioButton-2_4" >Bicycle</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q1" class="multiple_choice" id="RESULT_RadioButton-2_5" value="Walking" required/><label for="RESULT_RadioButton-2_5" >Walking</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q1" class="multiple_choice" id="RESULT_RadioButton-2_6" value="Metro" required/><label for="RESULT_RadioButton-2_6" >Metro</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q1" class="multiple_choice" id="RESULT_RadioButton-2_7" value="Other" required/><label for="RESULT_RadioButton-2_7">Other</label></td>
	</tr>
	</table>
	</div>
	
	<div class="clear"></div>
	
	<div id="q2" class="q required" style="width: 90%;">
	<a class="item_anchor" name="ItemAnchor3"></a>
	<span class="question top_question">Please choose the best answer for each of the following.&nbsp;<b class="icon_required" style="color:#FF0000">*</b></span><br>
	<span class="question top_question">(1=Strongly disagree, 2=Disagree, 3=Neutral, 4=Agree, 5=Strongly agree)</span>
	<table class="matrix" style="width: 100%;">
	<tr>
	<th scope="col">&nbsp;</th><th scope="col">1</th><th scope="col">2</th><th scope="col">3</th><th scope="col">4</th><th scope="col">5</th>
	</tr>
	<tr class="matrix_row_light" style="width:90px;">
	<td class="question" >I prefer using my car for transportation.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q2" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q2" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q2" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q2" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q2" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_dark" style="width:90px;">
	<td class="question" >While driving I often get angry and my mood is bad.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q3" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q3" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q3" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q3" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q3" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_light" style="width:90px;">
	<td class="question" >I spend too much time in transportation.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q4" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q4" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q4" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q4" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q4" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_dark" style="width:90px;">
	<td class="question" >I spend too much money on transportation.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q5" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q5" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q5" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q5" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q5" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_light" style="width:90px;">
	<td class="question" >I can see the negative effect of transportation on the environment.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q6" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q6" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q6" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q6" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q6" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_dark" style="width:90px;">
	<td class="question" >I am willing to change my transportation ways to decrease pollution.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q7" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q7" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q7" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q7" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q7" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_light" style="width:90px;">
	<td class="question" >I am willing to change my transportation ways to decrease the stress I feel while driving.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q8" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q8" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q8" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q8" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q8" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_dark" style="width:90px;">
	<td class="question" >I am willing to change my transportation ways to be able to use my time better.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q9" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q9" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q9" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q9" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q9" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_light" style="width:90px;">
	<td class="question" >I usually have the opportunity to carpool with someone.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q10" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q10" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q10" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q10" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q10" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_dark" style="width:90px;">
	<td class="question" >Driving less removes the burden of me having accidents.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q11" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q11" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q11" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q11" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q11" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_light" style="width:90px;">
	<td class="question" >I could play a game that teaches me about alternative ways of transportation.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q12" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q12" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q12" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q12" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q12" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_light" style="width:90px;">
	<td class="question" >I use the metro system in Egypt.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q13" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q13" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q13" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q13" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q13" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_light" style="width:90px;">
	<td class="question" >I use the bus system in Egypt.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q14" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q14" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q14" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q14" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q14" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	<tr class="matrix_row_light" style="width:90px;">
	<td class="question" >I sometimes choose to walk or cycle to my destination.</td>
	<td><label for="1" class="accessibility_hidden">1</label><input type="radio" name="q15" class="multiple_choice" id="1" value="1" required/></td>
	<td><label for="2" class="accessibility_hidden">2</label><input type="radio" name="q15" class="multiple_choice" id="2" value="2" required/></td>
	<td><label for="3" class="accessibility_hidden">3</label><input type="radio" name="q15" class="multiple_choice" id="3" value="3" required/></td>
	<td><label for="4" class="accessibility_hidden">4</label><input type="radio" name="q15" class="multiple_choice" id="4" value="4" required/></td>
	<td><label for="5" class="accessibility_hidden">5</label><input type="radio" name="q15" class="multiple_choice" id="5" value="5" required/></td>
	</tr>
	</table>
	</div>
	
	<div class="clear"></div>
	
	<div id="q10" class="q required">
	<a class="item_anchor" name="ItemAnchor4"></a>
	<span class="question top_question">How much time do you spend in transportation per day (in hours)?&nbsp;<b class="icon_required" style="color:#FF0000">*</b></span>
	<table class="inline_grid">
	<tr>
	<td><input type="radio" name="q16" class="multiple_choice" id="RESULT_RadioButton-4_0" value="less than 1" required/><label for="RESULT_RadioButton-4_0" >less than 1</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q16" class="multiple_choice" id="RESULT_RadioButton-4_1" value="more than 1 and less than 3" required/><label for="RESULT_RadioButton-4_1" >more than 1 and less than 3</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q16" class="multiple_choice" id="RESULT_RadioButton-4_2" value="more than 3 and less than 5" required/><label for="RESULT_RadioButton-4_2" >more than 3 and less than 5</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q16" class="multiple_choice" id="RESULT_RadioButton-4_3" value="more than 5" required/><label for="RESULT_RadioButton-4_3" >more than 5</label></td>
	</tr>
	</table>
	</div>
	
	<div class="clear"></div>
	
	<div id="q11" class="q required">
	<a class="item_anchor" name="ItemAnchor5"></a>
	<span class="question top_question">How much money do you spend on transportation per day (in LE)?&nbsp;<b class="icon_required" style="color:#FF0000">*</b></span>
	<table class="inline_grid">
	<tr>
	<td><input type="radio" name="q17" class="multiple_choice" id="RESULT_RadioButton-5_0" value="less than 10" required/><label for="RESULT_RadioButton-5_0" >less than 10</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q17" class="multiple_choice" id="RESULT_RadioButton-5_1" value="more than 10 and less than 30" required/><label for="RESULT_RadioButton-5_1" >more than 10 and less than 30</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q17" class="multiple_choice" id="RESULT_RadioButton-5_2" value="more than 30 and less than 50" required/><label for="RESULT_RadioButton-5_2" >more than 30 and less than 50</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q17" class="multiple_choice" id="RESULT_RadioButton-5_3" value="more than 50 and less than 70" required/><label for="RESULT_RadioButton-5_3" >more than 50 and less than 70</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q17" class="multiple_choice" id="RESULT_RadioButton-5_4" value="more than 70 and less than 90" required/><label for="RESULT_RadioButton-5_4" >more than 70 and less than 90</label></td>
	</tr>
	<tr>
	<td><input type="radio" name="q17" class="multiple_choice" id="RESULT_RadioButton-5_5" value="more than 90" required/><label for="RESULT_RadioButton-5_5" >more than 90</label></td>
	</tr>
	</table>
	</div>
	<div class="clear"></div>
	</div>
	<!-- END_ITEMS -->
	
	<div style="text-align: center;"><input type="submit" name="Submit" value="Submit" class="button" id="FSsubmit" style="width: auto; border-radius: 5px;"/></div>
	<!--/form-->
	<% end %>
