<div id="feedbackBus" class="modalDialog" role="dialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <p id="myRandomDiv">
    </p>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
    var randomStrings = [
      "Public transportation can save households an average of 80,000 EGP every year. The savings continues to grow with the ever-increasing price of fuel.",
      "By eliminating one car in a two-car household, taking public transportation instead of driving can result in a savings of up to 30% of a household’s annual carbon dioxide emissions.",
      "Human activities release over 130 times the amount of CO2 emitted by volcanoes.",
      "Using public transportation is vastly cheaper than driving.",
      "Cycling or walking is a free gym on wheels.",
      "By using public transportation, you won't miss morning traffic jams.",
      "By using public transportation, you'll never have to worry about a parking spot again.",
      "When the complete life cycle of travelling with a bus is taken into account, the carbon emissions are approximately 101 g CO2/passenger/km",
      "Public transportation provides personal mobility and freedom for people from every walk of life.",
      "Access to public transportation gives people transportation options to get to work, go to school, visit friends, or go to a doctor’s office.",
      "Public transportation has a proven record of reducing congestion.",
      "The latest research shows that in 2011, U.S. public transportation use saved 865 million hours in travel time and 450 million gallons of fuel in 498 urban areas.",
      "Every $1 invested in public transportation generates approximately $4 in economic returns.",
      "Every $1 billion invested in public transportaiton supports and creates more than 50,000 jobs.",
      "Using public transportation is the quickest way to beat high gas prices.",
      "A two-person household can save, on the average, more than $10,174 a year by downsizing to one car.",
      "Public transportation provides an affordable, and for many, necessary, alternative to driving.",
      "Public transportation use in the United States saves 4.2 billion gallons of gasoline annually.",
      "Public transportation use in the United States reduces the carbon emissions by 37 million metric tons annually.",
      "One person with an average of 30-km round trip commute who switches from driving to public transit can reduce his or her daily carbon emissions by 9 kg, or more than 2,000 pounds in a year.",
      "A single commuter switching his or her commute to public transportation can reduce a household’s carbon emissions by 10 percent and up to 30 percent if he or she eliminates a second car.",
      "Using the bus instead of driving frees up time to do something that you enjoy.",
      "While using the bus, catch up on emails, text your friends, read the paper or do the latest Sudoku challenge.", "While using the bus, simply relax, let someone else do the driving, and plan for the day ahead.",
      "Prioritised traffic lights and dedicated bus lanes on main routes allow buses to get through the city quickly.",
      "Buses with few stopping points are often just as quick as the car. Buses also help to reduce congestion on key routes by taking more cars off the road.",
      "Using the bus is an economical way of travelling if you compare ticket costs with the true cost of motoring. This is especially true if you buy multi-purchase or season tickets.",
      "Roads are expensive pieces of infrastructure. One bus can do the job of 40 cars and significantly reduce the demand for road improvements.",
      "With a pedestrianised city centre, the bus can often get you much closer to where you want to be than a car. This is especially useful in bad weather or when carrying heavy bags.",
      "Obesity is an increasing concern for society. Regular exercise can help, such as walking to and from the bus stop.",
      "Getting off a bus stop or two earlier can also be an easy way of building up your physical activity.",
      "Taking cars off the road and replacing with public transport can help to reduce the total number of traffic accidents.",
      "Using the bus helps to cut congestion which is a serious constraint on growth and costly to the economy. Reducing congestion in the city also improves the ambience of our streets and our general quality of life.",
      "An increase in the use of public transport results in less pollution and better air quality. Just one person opting to take the bus rather than drive to work every day can reduce their carbon footprint by up to 3.8 tonnes per year!",
    ];

    var randomDiv = document.getElementById("myRandomDiv");

    randomIndex = Math.ceil((Math.random()*randomStrings.length-1));
    newText = randomStrings[randomIndex];
    randomDiv.innerHTML = newText;
</script>
<style>
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
</style>