<footer class="footer">
  <small>
    TrafficLess
  </small>
  <label id="myRandomDiv" style="display: block; text-align: center; line-height: 150%; font-size: .85em; color: #000000"></label>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>


<script type="text/javascript" charset="utf-8">
    var randomStrings = [
        "Did you know that 1 metro ticket costs only 1 pound?",
        "Did you know that 1 bus ticket costs up to 2 pounds?",
        "Did you know that 1 litre of gasoline (92) costs 1.85 pounds?", 
        "Did you know that walking 1 km will burn around 60 calories?", 
        "Did you know that bicycling for 1 hour will burn around 280 calories?",
        "Did you know that driving 1 km consumes around 0.1 litre of gasoline?",
        "Did you know that driving 1 km emits around 230 grams of CO2?",
        "Did you know that driving emits around 4400 kg of CO2 annually?",
    ];

    var randomDiv = document.getElementById("myRandomDiv");

          randomIndex = Math.ceil((Math.random()*randomStrings.length-1));
          newText = randomStrings[randomIndex];
          randomDiv.innerHTML = newText;
</script> 