<footer class="footer">
  <small>
    TrafficLess
  </small>
  <label style="display: block; text-align: center; line-height: 150%; font-size: .85em;">Did you know that the metro tickets costs only one pound?</label>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>