<div id="myModal" class="modalDialog" role="dialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
      <p>
      Welcome to TrafficLess :)
      </p>
      <p>
      The game in very few words, is about designing a serious game to aware people, Cairo citizens in specific, about air pollution and trying to alter their behavior towards more environmental-friendly transportation choices. This would help in reducing traffic congestion and consequently reduce air pollution.
      </p>
      <p>
      <b><u>Flow:</u></b> <br>
      Once you enter your profile, you can find your score divided into 3 factors: Time, Money, and Pollution.
      In addition, you find a leaderboard containing the scores and ranks of all the users. <br>
      What you are asked to do, is provide the game with your daily duties/errands. You can do that by clicking the "Add Errand" button in your profile page. You'll be redirected to a page containing a map with 2 markers located at your current position. Drag them around the map to set the start and end locations of your errand; or alternatively you can type start and end locations in the text-boxes on the right and click the "Show on map" button to let them appear on the map automatically. <br> 
      Note that, if you have the possibility to carpool with a friend, family member, colleague, during this errand, kindly check the "Carpooling available" checkbox. Once you are done setting the locations of your errand, click the "Submit" button. <br>
      You'll be redirected to a page, where you'll be provided with the possible transportation means you can use to fulfil your errand, e.g: using metro, bus, carpooling (if available), walking (if possible), cycling (if possible), and also using your car. With each choice, you'll get some insight on how this choice affects your time, money, and pollution. After you check them out and submit your choice you'll be redirected back to your profile. The errand you entered will appear in the list of errands in your profile. <br>
      Whenever you are located at the start of your errand, click on its address in the list of errands, so that the game records when and where you started. Enjoy the ride :). When you are done with your errand, click on the address of the end location of your errand to indicate you arrived at the end destination. Once you do that, the game will check the duration you took to complete the errand and compare it with the expected duration this errand should take. If the two durations have close values, your score will be updated accordingly in terms of time, money, and pollution.
      </p>
      <p>
       If you go to the homepage of the game, you can check the challenges that are available each week. Winning challenges, helps you increase your score among the other game users.
      </p>
  </div>
</div>
<style>
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
</style>